In [20]:
import random
class NumberNamer():
    def __init__(self):
        self.map = {1: 'One', 2: 'Two', 3: 'Three',  4: 'Four', 5: 'Five', 6: 'Six',  7: 'Seven', 8: 'Eight', 9: 'Nine', 10: 'Ten', 11: 'Eleven',
                    12: 'Twelve', 13: 'Thirteen', 14: 'Fourteen', 15: 'Fifteen', 16: 'Sixteen', 17: 'Seventeen', 18: 'Eighteen', 19: 'Nineteen', 
                    20: 'Twenty', 30: 'Thirty', 40: 'Forty', 50: 'Fifty', 60: 'Sixty', 70: 'Seventy', 80: 'Eighty', 90: 'Ninety'}
        self.hierarchy = {1: '', 2: 'Thousand', 3: 'Million', 4: 'Billion', 5: 'Trillion', 6: 'Quadrillion'}

    def resolve(self, chunk = 0, order = 1):
        chunk_name = self.map.get(chunk, '')
        if chunk_name == '':
            p1 = f'{self.map[chunk // 100]} Hundred ' if chunk // 100 > 0 else ''
            p2 = ''
            if chunk % 100 != 0:
                p2 = self.map.get(chunk % 100, '')
                if p2 == '':
                    p2 = f"{self.map.get((chunk % 100) - (chunk % 10))} {self.map.get(chunk % 10, '')}"
            chunk_name = p1 + p2
        return f"{chunk_name} {self.hierarchy[order]},"

    def get_name(self, N):
        numbername, splits = '', []
        while N > 0:
            N, R = divmod(N, 1000) 
            splits.insert(0, R)
        for i, split in enumerate(splits):
            if split != 0:
                numbername += f" {self.resolve(chunk = split, order = (len(splits) - i))}" 
        return numbername[1:-1] if numbername else 'Zero'

numbernamer = NumberNamer()

for number in [0, 999, 543, 11, 213, 1_000_000, 20_000_011, 99_019_000_000_218_365]:
    print(f'Number : {number:015,}\nName   : {numbernamer.get_name(number)}\n')

for _ in range(25):
    number = random.randint(0, 1e+18)
    print(f'Number : {number:015,}\nName   : {numbernamer.get_name(number)}\n')

Number : 000,000,000,000
Name   : Zero

Number : 000,000,000,999
Name   : Nine Hundred Ninety Nine

Number : 000,000,000,543
Name   : Five Hundred Forty Three

Number : 000,000,000,011
Name   : Eleven

Number : 000,000,000,213
Name   : Two Hundred Thirteen

Number : 000,001,000,000
Name   : One Million

Number : 000,020,000,011
Name   : Twenty Million, Eleven

Number : 99,019,000,000,218,365
Name   : Ninety Nine Quadrillion, Nineteen Trillion, Two Hundred Eighteen Thousand, Three Hundred Sixty Five

Number : 114,633,215,622,141,440
Name   : One Hundred Fourteen Quadrillion, Six Hundred Thirty Three Trillion, Two Hundred Fifteen Billion, Six Hundred Twenty Two Million, One Hundred Forty One Thousand, Four Hundred Forty

Number : 553,092,795,738,341,414
Name   : Five Hundred Fifty Three Quadrillion, Ninety Two Trillion, Seven Hundred Ninety Five Billion, Seven Hundred Thirty Eight Million, Three Hundred Forty One Thousand, Four Hundred Fourteen

Number : 267,545,753,073,098,687
Name   : Two Hundred Sixty Seven Quadrillion, Five Hundred Forty Five Trillion, Seven Hundred Fifty Three Billion, Seventy Three Million, Ninety Eight Thousand, Six Hundred Eighty Seven

Number : 765,587,059,407,752,551
Name   : Seven Hundred Sixty Five Quadrillion, Five Hundred Eighty Seven Trillion, Fifty Nine Billion, Four Hundred Seven Million, Seven Hundred Fifty Two Thousand, Five Hundred Fifty One

Number : 436,399,426,717,370,426
Name   : Four Hundred Thirty Six Quadrillion, Three Hundred Ninety Nine Trillion, Four Hundred Twenty Six Billion, Seven Hundred Seventeen Million, Three Hundred Seventy Thousand, Four Hundred Twenty Six

Number : 873,775,638,707,740,144
Name   : Eight Hundred Seventy Three Quadrillion, Seven Hundred Seventy Five Trillion, Six Hundred Thirty Eight Billion, Seven Hundred Seven Million, Seven Hundred Forty Thousand, One Hundred Forty Four

Number : 687,289,278,381,305,457
Name   : Six Hundred Eighty Seven Quadrillion, Two Hundred Eighty Nine Trillion, Two Hundred Seventy Eight Billion, Three Hundred Eighty One Million, Three Hundred Five Thousand, Four Hundred Fifty Seven

Number : 633,169,061,902,148,686
Name   : Six Hundred Thirty Three Quadrillion, One Hundred Sixty Nine Trillion, Sixty One Billion, Nine Hundred Two Million, One Hundred Forty Eight Thousand, Six Hundred Eighty Six

Number : 893,084,804,720,608,865
Name   : Eight Hundred Ninety Three Quadrillion, Eighty Four Trillion, Eight Hundred Four Billion, Seven Hundred Twenty Million, Six Hundred Eight Thousand, Eight Hundred Sixty Five

Number : 953,638,448,750,722,990
Name   : Nine Hundred Fifty Three Quadrillion, Six Hundred Thirty Eight Trillion, Four Hundred Forty Eight Billion, Seven Hundred Fifty Million, Seven Hundred Twenty Two Thousand, Nine Hundred Ninety

Number : 514,292,265,102,606,741
Name   : Five Hundred Fourteen Quadrillion, Two Hundred Ninety Two Trillion, Two Hundred Sixty Five Billion, One Hundred Two Million, Six Hundred Six Thousand, Seven Hundred Forty One

Number : 687,844,690,259,846,145
Name   : Six Hundred Eighty Seven Quadrillion, Eight Hundred Forty Four Trillion, Six Hundred Ninety Billion, Two Hundred Fifty Nine Million, Eight Hundred Forty Six Thousand, One Hundred Forty Five

Number : 775,640,427,084,626,741
Name   : Seven Hundred Seventy Five Quadrillion, Six Hundred Forty Trillion, Four Hundred Twenty Seven Billion, Eighty Four Million, Six Hundred Twenty Six Thousand, Seven Hundred Forty One

Number : 356,507,563,183,716,597
Name   : Three Hundred Fifty Six Quadrillion, Five Hundred Seven Trillion, Five Hundred Sixty Three Billion, One Hundred Eighty Three Million, Seven Hundred Sixteen Thousand, Five Hundred Ninety Seven

Number : 266,962,112,513,870,800
Name   : Two Hundred Sixty Six Quadrillion, Nine Hundred Sixty Two Trillion, One Hundred Twelve Billion, Five Hundred Thirteen Million, Eight Hundred Seventy Thousand, Eight Hundred

Number : 352,789,415,056,629,726
Name   : Three Hundred Fifty Two Quadrillion, Seven Hundred Eighty Nine Trillion, Four Hundred Fifteen Billion, Fifty Six Million, Six Hundred Twenty Nine Thousand, Seven Hundred Twenty Six

Number : 203,088,514,935,460,860
Name   : Two Hundred Three Quadrillion, Eighty Eight Trillion, Five Hundred Fourteen Billion, Nine Hundred Thirty Five Million, Four Hundred Sixty Thousand, Eight Hundred Sixty

Number : 112,204,013,705,636,275
Name   : One Hundred Twelve Quadrillion, Two Hundred Four Trillion, Thirteen Billion, Seven Hundred Five Million, Six Hundred Thirty Six Thousand, Two Hundred Seventy Five

Number : 421,788,570,802,857,774
Name   : Four Hundred Twenty One Quadrillion, Seven Hundred Eighty Eight Trillion, Five Hundred Seventy Billion, Eight Hundred Two Million, Eight Hundred Fifty Seven Thousand, Seven Hundred Seventy Four

Number : 83,360,352,069,930,188
Name   : Eighty Three Quadrillion, Three Hundred Sixty Trillion, Three Hundred Fifty Two Billion, Sixty Nine Million, Nine Hundred Thirty Thousand, One Hundred Eighty Eight

Number : 569,953,571,094,687,944
Name   : Five Hundred Sixty Nine Quadrillion, Nine Hundred Fifty Three Trillion, Five Hundred Seventy One Billion, Ninety Four Million, Six Hundred Eighty Seven Thousand, Nine Hundred Forty Four

Number : 533,198,868,217,689,402
Name   : Five Hundred Thirty Three Quadrillion, One Hundred Ninety Eight Trillion, Eight Hundred Sixty Eight Billion, Two Hundred Seventeen Million, Six Hundred Eighty Nine Thousand, Four Hundred Two

Number : 980,016,462,952,657,004
Name   : Nine Hundred Eighty Quadrillion, Sixteen Trillion, Four Hundred Sixty Two Billion, Nine Hundred Fifty Two Million, Six Hundred Fifty Seven Thousand, Four

Number : 414,114,516,632,394,434
Name   : Four Hundred Fourteen Quadrillion, One Hundred Fourteen Trillion, Five Hundred Sixteen Billion, Six Hundred Thirty Two Million, Three Hundred Ninety Four Thousand, Four Hundred Thirty Four

Number : 212,080,115,437,093,692
Name   : Two Hundred Twelve Quadrillion, Eighty Trillion, One Hundred Fifteen Billion, Four Hundred Thirty Seven Million, Ninety Three Thousand, Six Hundred Ninety Two